<div class="container">
  <div class="container">
      <div class="row pt-4">

        <div class="d-flex justify-content-between">
          <form class="d-flex input-group w-auto">
            <input type="search" class="form-control"
            placeholder="Inicie su búsqueda" name="search"
            aria-label="Buscar" [(ngModel)]="targetUsers"/>
            <button class="btn btn-outline-primary">
              Buscar
            </button>
          </form>

          <button class="btn btn-primary" type="button" [routerLink]="['/pages/users-register']">
            Agregar
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
              />
            </svg>
          </button>
        </div>

        <div class="row">
          <div class="col-12 py-3">
            <div class="row">
              <!-- card -->
              <ng-container *ngFor="let users of users | usersComponent:targetUsers; let i = index;">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                  <div class="card mx-2">
                    <div class="card-img-top my-3">
                      <img src="https://kajabi-storefronts-production.global.ssl.fastly.net/kajabi-storefronts-production/themes/1239231/settings_images/m4tywxwOSa6ntwUZfk3H_Expansio_n_Imagen_Corporativa-15.png"
                        class="img-fluid mx-auto d-block img-circle smaller-image" alt="card image 1" width="10" height="30">
                    </div>
                    <div class="widget-blog-author">
                      <div class="card-body">
                        <small class="text-muted">Cargo:</small>
                        <h6 class="text-justify"> {{users.cargo}} </h6>
                        <small class="text-muted">Nombre:</small>
                        <h6 class="text-justify"> {{users.nombre_u}} {{users.apellido_u}} </h6>
                        <small class="text-muted">Teléfono:</small>
                        <h6 class="text-justify"> {{users.telf}} </h6>
                        <small class="text-muted">Correo Electrónico:</small>
                        <h6 class="text-justify"> {{users.email}} </h6>

                        <div class="d-sm-flex justify-content-center">
                          <div class="mr-2 p-2">
                            <button type="button" class="btn btn-success btn-sm" [routerLink]="['/pages/users-register', users.id_u]" [state]="users">Editar</button>
                          </div>
                          <div class="ml-2 p-2">
                            <button type="button" class="btn btn-danger btn-sm"
                            data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                            (click)="showDeleteConfirmationModal(users.id_u)">Eliminar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Iniciar una nueva fila después de cada 5 tarjetas -->

              </ng-container>
            </div>
          </div>
        </div>

        <!-- Modal de Confirmación de Eliminación -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
              </div>
              <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este registro?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                (click)="confirmDelete()">Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>

</div>
</div>

