<div class="container">
  <div class="container">
      <div class="row pt-4">

        <div class="d-flex justify-content-between">
          <form class="d-flex input-group w-auto">
            <input type="search" class="form-control" placeholder="Inicie su búsqueda" aria-label="Buscar"/>
            <button class="btn btn-outline-primary" type="button">
              Buscar
            </button>
          </form>

          <button class="btn btn-primary" type="button" [routerLink]="['/pages/users-register']">
            Agregar
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
              />
            </svg>
          </button>
        </div>

        <div class="row">
          <div class="col-12 py-3">
            <div class="row">
              <!-- card -->
              <ng-container *ngFor="let user of users; let i = index;">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                  <div class="card mx-2">
                    <div class="card-img-top my-3">
                      <img src="https://kajabi-storefronts-production.global.ssl.fastly.net/kajabi-storefronts-production/themes/1239231/settings_images/m4tywxwOSa6ntwUZfk3H_Expansio_n_Imagen_Corporativa-15.png"
                        class="img-fluid mx-auto d-block img-circle smaller-image" alt="card image 1" width="10" height="30">
                    </div>
                    <div class="widget-blog-author">
                      <div class="card-body">
                        <small class="text-muted">Cargo:</small>
                        <h6 class="text-justify"> {{user.cargo}} </h6>
                        <small class="text-muted">Nombre:</small>
                        <h6 class="text-justify"> {{user.nombre_u}} {{user.apellido_u}} </h6>
                        <small class="text-muted">Teléfono:</small>
                        <h6 class="text-justify"> {{user.telf}} </h6>
                        <small class="text-muted">Correo Electrónico:</small>
                        <h6 class="text-justify"> {{user.email}} </h6>

                        <div class="d-sm-flex justify-content-center">
                          <div class="mr-2 p-2">
                            <button type="button" class="btn btn-success btn-sm">Editar</button>
                          </div>
                          <div class="ml-2 p-2">
                            <button type="button" class="btn btn-danger btn-sm"  (click)="deleteUsers(user.id_u)">Eliminar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Iniciar una nueva fila después de cada 5 tarjetas -->
                <div class="w-100" *ngIf="(i + 1) % 5 === 0"></div>
              </ng-container>
            </div>
          </div>
        </div>


  <!--<ul class="pagination">
    <li class="page-item" [class.disabled]="p == 1">
      <a class="page-link" (click)="p = p - 1">Anterior</a>
    </li>
    <li class="page-item" *ngFor="let page of pCollection" [class.active]="p == page">
      <a class="page-link" (click)="p = page">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="p == pCollection.length">
      <a class="page-link" (click)="p = p + 1">Siguiente</a>
    </li>
  </ul> -->

</div>
</div>

