<div class="container">
    <div class="container">
        <div class="row pt-4">

          <div class="d-flex justify-content-between">
            <form class="d-flex input-group w-auto">
              <input type="search" class="form-control"
              placeholder="Inicie su búsqueda"
              aria-label="Buscar"/>
              <button class="btn btn-outline-primary" type="button">
                Buscar
              </button>
            </form>

            <button class="btn btn-primary" type="button" [routerLink]="['/pages/hardware-register']">
              Agregar
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-plus-circle-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
                />
              </svg>
            </button>
          </div>

          <div class="row">
            <div class="col-12 py-5">
              <div class="row">
                <!-- Tarjeta -->
                <ng-container *ngFor="let hardware of hardware; let i = index;">
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    <div class="card mx-2">
                      <!-- Contenido de la tarjeta -->
                      <div class="card-img-top">
                        <img src="https://www.apple.com/newsroom/images/product/imac/standard/Apple_imac-magickeyboardnum-magicmouse2-macos-wallpaper_08042020_big.jpg.large.jpg"
                          class="img-fluid mx-auto d-block" alt="card image 1">
                      </div>
                      <div class="widget-blog-author">
                        <div class="widget-blog-author-info">
                          <h5 class="text-muted m-0 f-s-11"> {{hardware.categories.nombre_c}} </h5>
                        </div>

                        <details class="text-muted" alt="Mostrar QR" [open]="false">
                          <summary>Mostrar QR</summary>

                          <p id="CÓdigo QR" style="display:none;"></p>

                          <div class="mt-3">
                            <img [src]="hardware.qrCodeDataUrl" alt="QR Code" class="img-fluid mx-auto d-block"  />
                          </div>
                          <div class="d-sm-flex justify-content-center"></div>

                        </details>

                        <small class="text-muted">Encargado:</small>
                        <a href="users" [routerLink]="['/pages/users', hardware.users.id_u]">
                          <h6 class="text-justify"> {{hardware.users.nombre_u}} {{hardware.users.apellido_u}} </h6>
                        </a>

                        <details class="text-muted">

                          <p id="desplegar" style="display:none;"></p>

                          <small class="text-muted">SN del Monitor:</small>
                          <h6 class="text-justify"> {{hardware.monitor_sn}} </h6>

                          <div class="row mt-3">
                            <div class="col-md-6">
                              <small class="text-muted offset-md-1">Teclado:</small>
                              <h6 class="text-justify offset-md-1"> {{hardware.teclado}} </h6>
                            </div>
                            <div class="col-md-6">
                              <small class="text-muted">Mouse:</small>
                              <h6 class="text-justify"> {{hardware.mouse}} </h6>
                            </div>
                          </div>

                          <small class="text-muted">Numero de serie del PC/Laptop:</small>
                          <h6 class="text-justify"> {{hardware.sn}} </h6>

                          <small class="text-muted">Marca:</small>
                          <h6 class="text-justify"> {{hardware.marca}} </h6>

                          <small class="text-muted">Procesador:</small>
                          <h6 class="text-justify"> {{hardware.procesador}} </h6>

                          <small class="text-muted p-t-30 db">Memoria Ram:</small>
                          <h6 class="text-justify"> {{hardware.ram}} </h6>

                          <small class="text-muted p-t-30 db">Almacenamiento:</small>
                          <h6 class="text-justify"> {{hardware.almacenamiento}} </h6>

                          <small class="text-muted p-t-30 db">Sala:</small>
                          <h6 class="text-justify"> {{hardware.sala }} </h6>

                        </details>

                        <div class="d-sm-flex  justify-content-center">
                          <div class="mr-2 p-2">
                            <button type="button" class="btn btn-success btn-sm" [routerLink]="['/pages/hardware-register', hardware.id_h]" [state]="hardware">Editar</button>
                          </div>
                          <div class="ml-2 p-2">
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteHardware(hardware.id_h)">Eliminar</button>
                          </div>
                        </div>

                        <div class="d-flex justify-content-center p-3">
                          <button type="button" class="btn btn-warning" (click)=" onImprimir()">Generar Reporte</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>





    <!--<ul class="pagination">
      <li class="page-item" [class.disabled]="p == 1">
        <a class="page-link" (click)="p = p - 1">Anterior</a>
      </li>
      <li class="page-item" *ngFor="let page of pCollection" [class.active]="p == page">
        <a class="page-link" (click)="p = page">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="p == pCollection.length">
        <a class="page-link" (click)="p = p + 1">Siguiente</a>
      </li>
    </ul> -->

  </div>
</div>

