<div class="d-flex p-5  bootstrap snippets bootdey">
  <div class="col-md-3">
      <div class="widget widget-blog">
          <div class="widget-blog-cover">
              <img src="https://www.bootdey.com/image/400x200/FFB6C1/000000" alt="">
          </div>
          <div class="widget-blog-author">
              <div class="widget-blog-author-image">
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
              </div>
              <div class="widget-blog-author-info">
                  <h5 class="m-t-0 m-b-1">Serhiy Navin</h5>
                  <p class="text-muted m-0 f-s-11">Front End Designer</p>
              </div>
          </div>
          <div class="widget-blog-content">
              <h5>Lorem ipsum dolor sit amec adipiscing elit.</h5>
              <p>
                  Nulla condimentum sodales urna, at consequat urna laoreet non. Aenean id porttitor odio, id elementum augue. Donec rhoncus semper mi.
              </p>
          </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="widget widget-blog">
          <div class="widget-blog-cover">
              <img src="https://www.bootdey.com/image/400x200/87CEFA/000000" alt="">
          </div>
          <div class="widget-blog-author">
              <div class="widget-blog-author-image">
                  <img src="https://bootdey.com/img/Content/user_2.jpg" alt="">
              </div>
              <div class="widget-blog-author-info">
                  <h5 class="m-t-0 m-b-1">Serhiy Navin</h5>
                  <p class="text-muted m-0 f-s-11">Front End Designer</p>
              </div>
          </div>
          <div class="widget-blog-content">
              <h5>Lorem ipsum dolor sit amec adipiscing elit.</h5>
              <p>
                  Nulla condimentum sodales urna, at consequat urna laoreet non. Aenean id porttitor odio, id elementum augue. Donec rhoncus semper mi.
              </p>
          </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="widget widget-blog">
          <div class="widget-blog-cover">
              <img src="https://www.bootdey.com/image/400x200/FF7F50/000000" alt="">
          </div>
          <div class="widget-blog-author">
              <div class="widget-blog-author-image">
                  <img src="https://bootdey.com/img/Content/user_3.jpg" alt="">
              </div>
              <div class="widget-blog-author-info">
                  <h5 class="m-t-0 m-b-1">Serhiy Navin</h5>
                  <p class="text-muted m-0 f-s-11">Front End Designer</p>
              </div>
          </div>
          <div class="widget-blog-content">
              <h5>Lorem ipsum dolor sit amec adipiscing elit.</h5>
              <p>
                  Nulla condimentum sodales urna, at consequat urna laoreet non. Aenean id porttitor odio, id elementum augue. Donec rhoncus semper mi.
              </p>
          </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="widget widget-blog">
          <div class="widget-blog-cover">
              <img src="https://www.bootdey.com/image/400x200/20B2AA/000000" alt="">
          </div>
          <div class="widget-blog-author">
              <div class="widget-blog-author-image">
                  <img src="https://bootdey.com/img/Content/user_6.jpg" alt="">
              </div>
              <div class="widget-blog-author-info">
                  <h5 class="m-t-0 m-b-1">Serhiy Navin</h5>
                  <p class="text-muted m-0 f-s-11">Front End Designer</p>
              </div>
          </div>
          <div class="widget-blog-content">
              <h5>Lorem ipsum dolor sit amec adipiscing elit.</h5>
              <p>
                  Nulla condimentum sodales urna, at consequat urna laoreet non. Aenean id porttitor odio, id elementum augue. Donec rhoncus semper mi.
              </p>
          </div>
      </div>
  </div>
</div>