.widget-blog-author-image {
    float: left;
    margin-top: -30px;
    padding: 5px;
    border-radius: 70px;
    width: 70px;
    height: 70px;
    background: #fff;
    position: relative;
}

.widget-blog-author-image img {
    max-width: 100%;
    border-radius: 70px;
}
.text-justify{
    padding: 4%;
}
.text-muted{
    padding: 4%;
}
