.widget-blog-author-image {
    float: left;
    margin-top: -30px;
    padding: 5px;
    border-radius: 70px;
    width: 70px;
    height: 70px;
    background: #fff;
    position: relative;
}

.widget-blog-author-image img {
    max-width: 100%;
    border-radius: 70px;
}
.text-justify{
    padding: 4%;
}
.text-muted{
    padding: 4%;
}

.move-right {
  margin-right: 10px; /* Ajusta el valor según tu preferencia */
}

.modal {
  display: none;
  /* ... Otros estilos ... */
}

.modal.show {
  display: block;
}

.img-size {
  max-width: auto; /* Cambia este valor según tus necesidades */
  height: 200px; /* Esto permite que la imagen mantenga su relación de aspecto */
}
