.logo{
  height: 40px;
  width: 100px;
}

.navbar{
  background-color: #175E8E;
}

.btn-outline-primary {
  background-color: #1f65cf; /* Nuevo color de fondo en tono celeste (#00ccff) */
  color: rgb(255, 255, 255); /* Color del texto del botón (opcional) */
}

.logo {
  cursor: pointer;
}


/* search.component.scss */

.d-flex {
  display: flex;
  justify-content: center;

}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 300px;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-button {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}


/* Estilos para el botón del menú */
.navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
}

/* Estilos para el ícono del botón del menú */
.navbar-toggler i {
  color: #000; /* Color del icono del botón */
  font-size: 1.5rem; /* Tamaño del icono del botón */
}

/* Estilos para el menú cuando la pantalla es pequeña */
@media (max-width: 768px) {
  .navbar-brand {
    margin-right: 0;
  }

  .navbar-toggler {
    margin-right: 0;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    margin-bottom: 5px; /* Espacio entre los elementos del menú */
  }
}
