<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formulario</h5>
          <form>
            <div class="mb-3">
              <label for="foto" class="form-label">Foto</label>
              <input type="file" class="form-control" id="foto">
            </div>

            <div class="mb-3">
              <label for="sala" class="form-label">Categorias:</label>
              <select class="form-control">
                <option>PC</option>
                <option>Laptop</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="sn" class="form-label">Numero de Serie Monitor:</label>
              <input name="m_sn" type="text" class="form-control" id="sn">
            </div>

            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Mouse:</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="siMouse" id="siMouse" value="si">
                      <label class="form-check-label" for="siNombre" name="mouse">Sí</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="noMouse" id="noMouse" value="no">
                      <label class="form-check-label" for="noNombre">No</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Teclado:</label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="siTeclado" id="siTeclado" value="si">
                      <label class="form-check-label" for="siTeclado" na>Sí</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="noTeclado" id="noTeclado" value="no">
                      <label class="form-check-label" for="noTeclado">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="sn" class="form-label">Numero de Serie:</label>
              <input type="text" class="form-control" id="sn">
            </div>
            <div class="mb-3">
              <label for="marca" class="form-label">Marca:</label>
              <input type="text" class="form-control" id="marca" name="marca">
            </div>
            <div class="mb-3">
              <label for="procesador" class="form-label">Procesador:</label>
              <textarea rows="2" class="form-control" maxlength="100" name="procesador"></textarea>
            </div>
            <div class="mb-3">
              <label for="ram" class="form-label">RAM:</label>
              <textarea rows="2" class="form-control" maxlength="100" name="ram"></textarea>
            </div>

            <div class="mb-3">
              <label for="sala" class="form-label">Sala:</label>
              <select class="form-control" name="sala">
                <option>Medialab</option>
                <option>Oficina1</option>
                <option>Auditorio</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="sala" class="form-label">Usuario:</label>
              <select class="form-control" name="sala" [(ngModel)]="users.nombre_u">
                <option></option>
              </select>
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary mx-auto">Enviar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-4"></div>

