.bg-image {
  background-image: url('https://i.pinimg.com/originals/19/3e/2d/193e2da1d031fd20b28d13bf969fe430.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container {
  height: 100%;
}

.welcome-text {
  color: white;
}

